/* You can add global styles to this file, and also import other style files */
$spacer: 16px;
$size1: $spacer * .25;
$size2: $spacer * .5;
$size3: $spacer;
$size4: $spacer * 1.5;
$size5: $spacer * 3;
